<%- include('head') %>
<div class="row">
  <div class="col-lg-8 mx-auto">
    <h2>Add Product</h2>
    <form action="/products" method="post" enctype="multipart/form-data">
      <div class="form-group row">
        <label for="title" class="col-2 col-form-label">Title</label>
        <div class="col-10">
          <input
            class="form-control"
            type="text"
            placeholder="title"
            id="title"
            name="title"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="category" class="col-2 col-form-label"
          >Select Category</label
        >
        <div class="col-10">
          <select class="form-select" name="category" id="category" required>
            <% if(categories){%> 
              <% for(let category of categories){ %>
             <option value="<%=category._id%>"><%=category.name%></option>
            <% } %> 
              <% } %>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="subcategory" class="col-2 col-form-label"
          >Select Category</label
        >
        <div class="col-10">
          <select
            class="form-select"
            placeholder="sub-category"
            id="subcategory"
            name="subcategory"
            required
          >
            <% if(typeof subcategories !== 'undefined'){%> <% for(let
            subcategory of subcategories){ %>
            <option value="<%=subcategory._id%>"><%=subcategory.name%></option>
            <% } %> <% } %>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="subtitle" class="col-2 col-form-label">Subitle</label>
        <div class="col-10">
          <textarea
            class="form-control"
            id="subtitle"
            placeholder="subtitle"
            rows="2"
            name="subtitle"
          ></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label" for="image">Select Image</label>
        <div class="col-10">
          <input
            type="file"
            class="form-control-file"
            id="image"
            name="image"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label" for="pdf">Select Pdf</label>
        <div class="col-10">
          <input
            type="file"
            class="form-control-file"
            id="pdf"
            name="pdfFile"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-success mb-5">Add Product</button>
    </form>
  </div>
</div>
<script>
  const category = document.getElementById("category");
  const subcategoryDropdown = document.getElementById("subcategory");

  category.addEventListener("change", function () {
    let categoryId = this.value;

    fetch(`/categories/${categoryId}`)
      .then((response) => response.json())
      .then((data) => {
        subcategoryDropdown.innerHTML = "";

        // Populate subcategory dropdown with fetched data
        data.subcategories.forEach((subcategory) => {
          const option = document.createElement("option");
          option.value = subcategory._id;
          option.textContent = subcategory.name;
          subcategoryDropdown.add(option);
        });
      });
  });
  category.dispatchEvent(new Event('change'));
</script>

<%-include('footer') %>
